<!DOCTYPE html>
<html>
<head>
  <title>Ares Lesson Vendor</title>
  <!-- CDN INCLUDES -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>  
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="http://www.aresdevelopment.net/wp-content/uploads/2015/03/ADM-spearTIP-ONLY2.ico" type="image/x-icon">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  
  <!--INTERNAL STYLES-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<!--- NAV BAR -->    
     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <div class="projectName">
             <%= image_tag("LessonVendorLogo.png", :alt => "Ares Lesson Vendor", :id => "logo") %>
         </div>
         <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
             </div>
            <div class="navbar-collapse collapse">
                 <ul class="nav navbar-nav">
                    <li><%= link_to "Home", root_path %></li>
                     <li><%= link_to "Lessons", products_path %></li> 
                     <li><%= link_to "Users", users_path %></li> 
                    <li><%= link_to "Contact", root_path(:anchor => "contact") %></li>
                     <% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
                </ul>
            </div>
        </div>
    </nav> <!---closes navbar-->
<div class="wrapper">
    <!---START NOTICE/ALERT MODAL --->
<% if flash[:alert] || flash[:notice] %>
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Alert</h4>
                    </div>
                    <div class="modal-body">
                        <p><%= flash[:alert] %><%= flash[:notice] %></p>
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                 </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<% end %>

<%= yield %>
</div>
</body>
</html>
